*

!.easignore
!app.config.js
!babel.config.js
!declaration.d.ts
!eas.json
!eslint.config.js
!firebase.json
!firebaseconfig.ts
!firestore.rules
!google-services.json
!GoogleService-Info.plist
!metro.config.js
!package-lock.json
!package.json
!scripts/**
!storage.rules
!tsconfig.json

!app/
!app/**
!assets/
!assets/**
!components/
!components/**
!constants/
!constants/**
!hooks/
!hooks/**
!lib/
!lib/**
!plugins/
!plugins/**
